<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,508},{54,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,38}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,593},{56,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,34}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,326},{68,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,436},{70,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,543},{58,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{58,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,428},{60,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,578},{84,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,49}}</string>
                <key>sourceSize</key>
                <string>{86,51}</string>
            </dict>
            <key>13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,613},{84,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,49}}</string>
                <key>sourceSize</key>
                <string>{86,51}</string>
            </dict>
            <key>14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{314,157}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{314,157}}</string>
                <key>sourceSize</key>
                <string>{320,165}</string>
            </dict>
            <key>14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,153}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{316,153}}</string>
                <key>sourceSize</key>
                <string>{320,165}</string>
            </dict>
            <key>14_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{312,159}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{312,159}}</string>
                <key>sourceSize</key>
                <string>{320,165}</string>
            </dict>
            <key>14_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{286,165}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{286,165}}</string>
                <key>sourceSize</key>
                <string>{320,165}</string>
            </dict>
            <key>14_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,161},{292,163}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{292,163}}</string>
                <key>sourceSize</key>
                <string>{320,165}</string>
            </dict>
            <key>15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,326},{68,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,48}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,434},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,48}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>16_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,334},{60,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>16_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,428},{64,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>17_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,605},{92,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,72}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>17_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,334},{100,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,66}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>18_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,334},{54,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{54,44}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>18_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,376},{56,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>19_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{126,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,78}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>19_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,485},{108,72}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{108,72}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,564},{72,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,640},{72,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>20_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{84,54}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{84,54}}</string>
                <key>sourceSize</key>
                <string>{96,56}</string>
            </dict>
            <key>20_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,166},{88,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{88,52}}</string>
                <key>sourceSize</key>
                <string>{96,56}</string>
            </dict>
            <key>21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,638},{64,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,504},{68,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{68,58}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,618},{48,36}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,664},{52,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>24_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,274},{84,58}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{84,58}}</string>
                <key>sourceSize</key>
                <string>{92,68}</string>
            </dict>
            <key>24_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,334},{92,54}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{92,54}}</string>
                <key>sourceSize</key>
                <string>{92,68}</string>
            </dict>
            <key>25_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,376},{50,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,30}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>25_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,396},{52,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,30}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>26_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,428},{74,64}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>26_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,84},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>27_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,605},{94,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>27_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,595},{100,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>28_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,484},{92,62}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{92,62}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>28_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,334},{98,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{98,58}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>29_01.gif</key>
            <dict>
                <key>frame</key>
                <string>{{396,564},{74,64}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{74,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>29_02.gif</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,376},{50,36}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{50,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,494},{58,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{58,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,656},{36,36}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{36,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,638},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{64,42}</string>
            </dict>
            <key>3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,390},{60,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{64,42}</string>
            </dict>
            <key>4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,564},{52,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,38}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,452},{54,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{56,42}</string>
            </dict>
            <key>5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,485},{118,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{118,76}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,485},{118,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,76}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,554},{56,34}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,34}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,476},{60,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,510},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,564},{58,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>8_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,484},{78,56}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,56}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>8_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,220},{86,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{86,52}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>9_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,496},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>9_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,428},{66,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish.png</string>
            <key>size</key>
            <string>{702,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:273dc71c1ae4ad0a0e143ffcb99aacae$</string>
            <key>textureFileName</key>
            <string>fish.png</string>
        </dict>
    </dict>
</plist>
